#!/usr/bin/env bash

export ANSIBLOSX_DIR="${HOME}/git/private/OSX/ansiblOSX"

export WORK_DIR="${HOME}/Work"
export TOOLS_DIR="${WORK_DIR}/Tools"

#export CURRENT_PROJECT="${TOOLS_DIR}/rhamt/rhamt-helper"
export CURRENT_PROJECT="${TOOLS_DIR}/app-report"
export KNOWLEDGE_DIR="${WORK_DIR}/Knowledge"

#export JAVA_HOME="$(/usr/libexec/java_home -v 1.7)"
#export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)
#JDK 1.9
#export JAVA_HOME=$(/usr/libexec/java_home)

export RHAMT_HOME="${TOOLS_DIR}/rhamt/rhamt-helper/01__RHAMT"
#export ANT_HOME="/usr/local/Cellar/ant/1.9.7/libexec"

export DROPBOX_HOME="${HOME}/Dropbox"

export M3_HOME="/usr/local/Cellar/maven/3.6.0/libexec"
export M2_HOME="${M3_HOME}"
#export M3="${M3_HOME}/bin"
#MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=128M -Dmaven.multiModuleProjectDirectory=${M2_HOME}"
#export MAVEN_OPTS="-Xmx1024m -Dmaven.multiModuleProjectDirectory=${M3_HOME}"
#export MAVEN_HOME="${HOME}/.m2"
export GRADLE_USER_HOME="${HOME}/.gradle"

export BREW_PREFIX="$(brew --prefix)"
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
# Previous additional argument in HOMEBREW_CASK_OPTS: --caskroom=/opt/homebrew-cask/Caskroom
# Fix: sudo ln -s /opt/homebrew-cask/Caskroom /usr/local/Caskroom
# Remove analytics
export HOMEBREW_NO_ANALYTICS=1

##############################################################
# Editor
##############################################################
# Make vim the default editor.
export EDITOR='vim';

##############################################################
# Node
##############################################################
# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=${HOME}/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

##############################################################
# Ruby
##############################################################
export RBENV_ROOT="$(brew --prefix rbenv)"
export GEM_HOME="$(brew --prefix)/opt/gems"
export GEM_PATH="$(brew --prefix)/opt/gems"

##############################################################
# Python
##############################################################
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

##############################################################
# History
##############################################################
# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='1000000';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

##############################################################
# Lang
##############################################################
# for the tr command - https://unix.stackexchange.com/questions/141420/tr-complains-of-illegal-byte-sequence
export LC_CTYPE=C
# Fix for a puppet encoding issue
export LANG='en_US.UTF-8';
export LANGUAGE="${LANG}";
export LANG="${LANG}";
export LC_ALL="${LANG}";

##############################################################
# Man
##############################################################
# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
